<header id="menu">
    <a href="#" class="anonymous" id="linkMenuAppHome">Home</a>
    <a href="#/login" class="anonymous" id="linkMenuLogin">Login</a>
    <a href="#/register" class="anonymous" id="linkMenuRegister">Register</a>

    <a href="#" class="useronly" id="linkMenuUserHome">Home</a>
    <a href="#/messages/my" class="useronly" id="linkMenuMyMessages">My Messages</a>
    <a href="#/messages/archive" class="useronly" id="linkMenuArchiveSent">Archive (Sent)</a>
    <a href="#/message/send" class="useronly" id="linkMenuSendMessage">Send Message</a>
    <a href="#/logout" class="useronly" id="linkMenuLogout">Logout</a>

    <span class="useronly" id="spanMenuLoggedInUser">Welcome, {user}!</span>
</header>