<header>
    <span class="logo">☃</span><span class="header">SeenIt</span>
    {{#if loggedIn}}
        <div id="profile"><span>{{user}}</span>|<a href="#/logout">logout</a></div>
    {{/if}}
</header>