<section id="viewUserHome">
    <h1 id="viewUserHomeHeading">Welcome, {{username}}!</h1>
    <a href="#/messages/my" id="linkUserHomeMyMessages">My Messages</a>
    <a href="#/message/send" id="linkUserHomeSendMessage">Send Message</a>
    <a href="#/messages/archive" id="linkUserHomeArchiveSent">Archive (Sent)</a>
</section>
